@using StudentsApp.Shared.Models
@page "/studentInf"
@page "/studentInf/{Id:int}"
@inject HttpClient Http

<h1>Student info @Id</h1>
@if (student != null)
{
    <p>Name : @student.Name</p>
    <p>Name : @student.Age</p>
    <p>Name : @student.Faculty</p>
}


@functions
 {
    [Parameter]
    private int Id { get; set; }

    Student student;

    protected override async Task OnInitAsync()
    {
        student = await Http.GetJsonAsync<Student>($"api/Student/{Id}");
    }
}
